html {
  height:100%; 
  overflow:auto; 
  overflow-y:scroll; 
}

body {
  height:100%; 
  font:100%/1.5 Arial, Helvetica, sans-serif; 
  background:#FDFDFD;
  color:#333;
  margin: 30px;
  font-family: 'Roboto', sans-serif;
}

i{
  cursor: pointer;
}